services:
  db:
    image: pgvector/pgvector:pg18-trixie
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata_prod:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - jobfinder_network
    restart: unless-stopped

  app:
    build:
      context: .
      dockerfile: Dockerfile.prod
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "5000:5000"
    networks:
      - jobfinder_network
    restart: unless-stopped

networks:
  jobfinder_network:
    name: jobfinder_network

volumes:
  pgdata_prod:
