services:
  db:
    image: pgvector/pgvector:pg18-trixie
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata_dev:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - jobfinder_network

  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/.venv
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "5000:5000"
    networks:
      - jobfinder_network

networks:
  jobfinder_network:
    name: jobfinder_network

volumes:
  pgdata_dev:
